@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.logo-font {
  font-family: "Pacifico", cursive;
}

:root {
  --color-primary: #609966;
  --color-secondary: #40513b;
  --color-accent: #9dc08b;
  --color-neutral: #edf1d6;
  --color-neutral-light: #f7f9ec;
}
